<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="words">Agregar Proveedores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del Proveedor" formControlName="nombreProveedor">
            <mat-error *ngIf="addressForm.controls['nombreProveedor'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="NIT" formControlName="nit">
            <mat-error *ngIf="addressForm.controls['nit'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Correo" formControlName="correo"></textarea>
            <mat-error *ngIf="addressForm.controls['correo'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Direccion" formControlName="direccion"></textarea>
            <mat-error *ngIf="addressForm.controls['direccion'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Telefono" formControlName="telefono"></textarea>
            <mat-error *ngIf="addressForm.controls['telefono'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
