<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="words">Agregar Proveedores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nombre del Proveedor</mat-label>
            <input matInput placeholder="Nombre del Proveedor" formControlName="nomProveedor">
            <mat-error *ngIf="addressForm.controls['nomProveedor'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Codigo del Proveedor</mat-label>
            <input matInput placeholder="Codigo del Proveedor" formControlName="idProveedor">
            <mat-error *ngIf="addressForm.controls['idProveedor'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Correo del Proveedor</mat-label>
            <textarea matInput placeholder="Correo" formControlName="correoProveedor"></textarea>
            <mat-error *ngIf="addressForm.controls['correoProveedor'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Direccion</mat-label>
            <textarea matInput placeholder="Direccion" formControlName="dirProveedor"></textarea>
            <mat-error *ngIf="addressForm.controls['dirProveedor'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Telefono</mat-label>
            <textarea matInput placeholder="Telefono" formControlName="telProveedor"></textarea>
            <mat-error *ngIf="addressForm.controls['telProveedor'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
