<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="contenedor">
      <a mat-list-item href="/Home"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home</a>
      <a mat-list-item href="/Compras"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart_checkout"></mat-icon>Compras</a>
      <a mat-list-item href="/Egresos"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="move_down"></mat-icon>Egresos</a>
      <a mat-list-item href="/Factura"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="request_page"></mat-icon>Factura</a>
      <a mat-list-item href="/Inventario"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="all_inbox"></mat-icon>Inventario</a>
      <a mat-list-item href="/InventarioPlatillo"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="food_bank"></mat-icon>Inventario Platillo</a>
      <a mat-list-item href="/Pedido"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_shipping"></mat-icon>Pedido</a>
      <a mat-list-item href="/Persona"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>Persona</a>
      <a mat-list-item href="/Platillo"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="restaurant"></mat-icon>Platillo</a>
      <a mat-list-item href="/platillo-xfactura"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_business"></mat-icon>Platillo por Factura</a>
      <a mat-list-item href="/Producto"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="category"></mat-icon>Producto</a>
      <a mat-list-item href="/Proveedor"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shop"></mat-icon>Proveedor</a>
      <a mat-list-item href="/Usuario"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group_add"></mat-icon>Usuario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RestauranteKarol</span>
    </mat-toolbar>
    <!-- Add Content Here -->
<router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
