<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Compras</a>
      <a mat-list-item href="#">Egresos</a>
      <a mat-list-item href="#">Factura</a>
      <a mat-list-item href="#">Inventario</a>
      <a mat-list-item href="#">Inventario Platillo</a>
      <a mat-list-item href="#">Pedido</a>
      <a mat-list-item href="#">Persona</a>
      <a mat-list-item href="#">Platillo</a>
      <a mat-list-item href="#">Platillo por Factura</a>
      <a mat-list-item href="#">Producto</a>
      <a mat-list-item href="#">Proveedor</a>
      <a mat-list-item href="#">Usuario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RestauranteKarol</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
