<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="words">Agregar Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Rol del Usuario </mat-label>
            <input matInput placeholder="Rol del Usuario" formControlName="rolUsu">
            <mat-error *ngIf="addressForm.controls['rolUsu'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nombre de Usuario </mat-label>
            <input matInput placeholder="Nombre de Usuario" formControlName="nomUsuario">
            <mat-error *ngIf="addressForm.controls['nomUsuario'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Apellido del Usuario </mat-label>
            <input matInput placeholder="Apellido" formControlName="apePersona">
            <mat-error *ngIf="addressForm.controls['apePersona'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Contraseña </mat-label>
            <input matInput placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="addressForm.controls['password'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Estado del Usuario </mat-label>
            <input matInput placeholder="Estado del Usuario" formControlName="estadoUsu">
            <mat-error *ngIf="addressForm.controls['estadoUsu'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Telefono </mat-label>
            <input matInput placeholder="Telefono" formControlName="telPersona">
            <mat-error *ngIf="addressForm.controls['telPersona'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Id" formControlName="idUsuario">
            <mat-error *ngIf="addressForm.controls['idUsuario'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
     </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
