<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="words">Agregar Persona</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Numero de Documento</mat-label>
            <input matInput placeholder="Numero de Documento" formControlName="numDoc">
            <mat-error *ngIf="addressForm.controls['numDoc'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nombre </mat-label>
            <input matInput placeholder="Nombre" formControlName="nomPersona">
            <mat-error *ngIf="addressForm.controls['nomPersona'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" formControlName="apePersona">
            <mat-error *ngIf="addressForm.controls['apePersona'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Numero Telefonico</mat-label>
            <input matInput placeholder="Telefono" formControlName="telPersona">
            <mat-error *ngIf="addressForm.controls['telPersona'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Correo Electronico</mat-label>
            <input matInput placeholder="Correo Electronico" formControlName="correoPersona">
            <mat-error *ngIf="addressForm.controls['correoPersona'].hasError('required')">Ingrese un <strong>correo electronico valido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Direccion" formControlName="direccion">
            <mat-error *ngIf="addressForm.controls['direccion'].hasError('required')"><strong>Campo Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
