<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
     <meta charset="utf-8">
      <title> Login </title>
      <link rel="stylesheet" href="login.component.css">
 </head>
<body>
    <div class="wrapper">
        <div class="title">Bienvenido </div>
        <form action="/src/app/Components/menu-lateral/menu-lateral.component.html">
            <div class="field">
                <input type="text" required> 
                <label>Usuario</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Contraseña</label>
            </div>

            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remenber-me">
                    <label for="remenber-me">Recuerdame</label>
                </div>
                <div class="pass-link"><a href="#">¿Has olvidado tu contraseña?</a></div>
            </div>

            <div  class="field">
                <input type="submit" value="Iniciar">
            </div>
            <div class="signup-link">¿No es un usuario? <a href="#">Registrate ahora </a></div>

        </form>
    </div>
</body>
</html>





