<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Login </title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">Bienvenido </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <H1>INGRESAR</H1>
                <div class="field">
                    <input type="text" matInput placeholder="email" formControlName="username">
                    <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                        <strong>Campo Requerido</strong>
                    </mat-error>
                </div>
                <div class="field">
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        <strong>Campo Requerido</strong>
                    </mat-error>
                </div>
                <div class="content">
                    <div class="checkbox">
                        <input type="checkbox" id="remenber-me">
                        <label for="remenber-me">Recuerdame</label>
                    </div>
                    <div class="pass-link"><a href="#">¿Has olvidado tu contraseña?</a></div>
                </div>
                <div class="field">
                    <input mat-input type="submit" value="Ingresar">
                </div>
                <div class="signup-link">¿No es un usuario? <a href="#">Registrate ahora </a></div>
            </form>
        </div>
    </div>
</body>

</html>